@page
@model Web_app_MyStore.Pages.Clients.CreateModel
@{
}

<br />
<h2>Nuovo cliente</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
        <strong> @Model.errorMessage</strong>
        <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="alert"
            area-lable="Close"></button>
    </div>
}


<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="fom-control" name="name" value="@Model.clientInfo.name" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="fom-control" name="email" value="@Model.clientInfo.email" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefono</label>
        <div class="col-sm-6">
            <input type="text" class="fom-control" name="phone" value="@Model.clientInfo.phone" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="fom-control" name="address" value="@Model.clientInfo.address" />
        </div>
    </div>

    <!-- Messaggio di validazione -->
    @if (Model.succesMessage.Length > 0)
    {
        <div class=" row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.succesMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
                </div>
            </div>
        </div>
    }



    <!-- validazione dell'inserimento del cliente ' -->
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Salva</button>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/" role="button">Cancella</a>
            </div>
        </div>
    </div>
</form>
